{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include "_parts/_header.html.twig" %}

<h1 class="d-flex justify-content-center">Votre profil</h1>
<p class="d-flex justify-content-center">Rien n'a afficher pour le moment...</p>
{% endblock %}