{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include "_parts/_header.html.twig" %}

<h1 class="d-flex justify-content-center">Votre profil</h1>
<div class="d-flex justify-content-center flex-column align-items-center">
    <p>Vous êtes connectés en tant que:</p>
    <p><b>{{ app.user.email }}</b></p>
</div>
<div>
    <a href="" class="container d-flex btn btn-primary justify-content-center">Modifier votre profil</a>
    <a href="{{ path('myAds') }}" class="container d-flex btn btn-warning justify-content-center">Voir mes annonces</a>

    <a href="{{ path('logout') }}" class="container d-flex btn btn-danger justify-content-center">Déconnexion</a>
</div>


{% endblock %}