{% extends "base.html.twig" %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Mes reservations</h1>
    {% include "reservation/index.html.twig" %}
</div>
{% endblock %}