<form method="post" action="{{ path('reservationDelete', {'id': reservation.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment annuler cette reÌservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn">Delete</button>
</form>
