{% extends "base.html.twig" %}

{% block header %}

{# <header>
    <div class="header-line1">
        <a href="">En savoir plus sur les Coups de coeur voyageurs</a>
    </div>
    <div class="header-line2">
        <img class="logo" src="images/airbnb.png" alt="logo airbnb">
        <ul class="headerbar">
            <li><a href="">Logements</a></li>
            <li><a href="">Expériences</a></li>
            <li><a href="">Expériences en lignes</a></li>
        </ul>
    </div>
</header> #}
{# rendre le header fix #}

<header>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="{{path('accueil')}}"><img class="logo" src="images/airbnb.png" alt="Logo"></a>
        </div>
        <div class="navbar-text">
            <a href="">Logements</a>
            <a href="">Expériences</a>
            <a href="">Expériences en ligne</a>
        </div>


        <div class="user-button">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                    class="mt-1 bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                    <p>Ajouter une annonce</p>
                </svg>
            </a>
            <a href="{{path(" profile")}}">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_87_159)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M20 3.33331C10.795 3.33331 3.33333 10.795 3.33333 20C3.33333 29.205 10.795 36.6666 20 36.6666C29.205 36.6666 36.6666 29.205 36.6666 20C36.6666 10.795 29.205 3.33331 20 3.33331ZM14.1667 15.8333C14.1667 15.0673 14.3175 14.3087 14.6107 13.601C14.9038 12.8933 15.3335 12.2502 15.8752 11.7085C16.4169 11.1668 17.0599 10.7372 17.7677 10.444C18.4754 10.1509 19.2339 9.99998 20 9.99998C20.766 9.99998 21.5246 10.1509 22.2323 10.444C22.94 10.7372 23.5831 11.1668 24.1248 11.7085C24.6664 12.2502 25.0961 12.8933 25.3893 13.601C25.6824 14.3087 25.8333 15.0673 25.8333 15.8333C25.8333 17.3804 25.2187 18.8641 24.1248 19.9581C23.0308 21.0521 21.5471 21.6666 20 21.6666C18.4529 21.6666 16.9692 21.0521 15.8752 19.9581C14.7812 18.8641 14.1667 17.3804 14.1667 15.8333ZM30.43 28.3066C29.1824 29.876 27.5963 31.1432 25.7903 32.0136C23.9842 32.8841 22.0048 33.3352 20 33.3333C17.9951 33.3352 16.0158 32.8841 14.2097 32.0136C12.4037 31.1432 10.8176 29.876 9.56999 28.3066C12.2717 26.3683 15.9583 25 20 25C24.0417 25 27.7283 26.3683 30.43 28.3066Z"
                            fill="#F5F5F5" />
                    </g>
                </svg>
            </a>
            {% else %}
            <a href="{{path('login')}}">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_87_159)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M20 3.33331C10.795 3.33331 3.33333 10.795 3.33333 20C3.33333 29.205 10.795 36.6666 20 36.6666C29.205 36.6666 36.6666 29.205 36.6666 20C36.6666 10.795 29.205 3.33331 20 3.33331ZM14.1667 15.8333C14.1667 15.0673 14.3175 14.3087 14.6107 13.601C14.9038 12.8933 15.3335 12.2502 15.8752 11.7085C16.4169 11.1668 17.0599 10.7372 17.7677 10.444C18.4754 10.1509 19.2339 9.99998 20 9.99998C20.766 9.99998 21.5246 10.1509 22.2323 10.444C22.94 10.7372 23.5831 11.1668 24.1248 11.7085C24.6664 12.2502 25.0961 12.8933 25.3893 13.601C25.6824 14.3087 25.8333 15.0673 25.8333 15.8333C25.8333 17.3804 25.2187 18.8641 24.1248 19.9581C23.0308 21.0521 21.5471 21.6666 20 21.6666C18.4529 21.6666 16.9692 21.0521 15.8752 19.9581C14.7812 18.8641 14.1667 17.3804 14.1667 15.8333ZM30.43 28.3066C29.1824 29.876 27.5963 31.1432 25.7903 32.0136C23.9842 32.8841 22.0048 33.3352 20 33.3333C17.9951 33.3352 16.0158 32.8841 14.2097 32.0136C12.4037 31.1432 10.8176 29.876 9.56999 28.3066C12.2717 26.3683 15.9583 25 20 25C24.0417 25 27.7283 26.3683 30.43 28.3066Z"
                            fill="#F5F5F5" />
                    </g>
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="line-icon">
        <div class="icons-section">
            <div class="svg-line">
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M278 824 c-109 -58 -198 -109 -198 -113 0 -4 6 -16 14 -26 13 -17 16
               -18 42 -5 16 8 32 16 37 18 4 2 7 -60 7 -137 l0 -141 -60 0 -60 0 0 -30 0 -30
               69 0 69 0 96 -82 96 -82 0 -68 0 -68 30 0 c27 0 30 3 30 30 0 27 3 30 30 30
               27 0 30 -3 30 -30 0 -27 3 -30 30 -30 l30 0 0 68 0 68 96 82 96 82 69 0 69 0
               0 30 0 30 -60 0 -60 0 0 140 c0 77 3 140 6 140 3 0 19 -8 36 -17 28 -17 30
               -17 44 1 8 11 14 23 14 27 0 7 -372 211 -395 217 -5 1 -99 -45 -207 -104z
               m328 -26 l114 -61 0 -159 0 -158 -75 0 -74 0 -3 103 -3 102 -65 3 c-112 5
               -110 8 -110 -108 l0 -100 -75 0 -75 0 0 158 0 157 113 62 c61 34 118 62 125
               62 7 1 65 -27 128 -61z m-96 -303 l0 -75 -30 0 -30 0 0 75 0 75 30 0 30 0 0
               -75z m-120 -176 l0 -40 -27 19 c-16 11 -37 29 -47 41 l-19 21 46 0 47 0 0 -41z
               m120 11 c0 -27 -3 -30 -30 -30 -27 0 -30 3 -30 30 0 27 3 30 30 30 27 0 30 -3
               30 -30z m134 9 c-10 -12 -31 -30 -46 -41 l-28 -19 0 40 0 41 47 0 46 0 -19
               -21z m-134 -129 c0 -27 -3 -30 -30 -30 -27 0 -30 3 -30 30 0 27 3 30 30 30 27
               0 30 -3 30 -30z" />
                            <path d="M462 771 c-23 -14 -10 -46 18 -46 20 0 25 5 25 25 0 26 -20 36 -43
               21z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M445 896 c-16 -8 -122 -107 -235 -220 l-205 -206 23 -22 c21 -21 23
               -21 39 -5 16 15 18 14 29 -20 9 -26 10 -42 2 -56 -5 -10 -7 -40 -4 -66 7 -56
               7 -63 0 -128 -5 -49 -4 -55 24 -83 l30 -30 332 0 332 0 30 30 c28 28 29 34 24
               83 -7 65 -7 72 0 128 3 26 1 56 -4 66 -8 14 -7 30 2 56 11 34 13 35 29 20 16
               -16 18 -16 39 5 l22 22 -42 43 -42 43 0 142 0 142 -30 0 -30 0 0 -112 0 -112
               -143 142 c-79 78 -148 142 -154 142 -6 0 -17 2 -25 5 -7 2 -26 -2 -43 -9z
               m110 -116 l59 -60 -134 0 -134 0 59 60 c33 33 66 60 75 60 9 0 42 -27 75 -60z
               m165 -165 l44 -45 -284 0 -284 0 44 45 44 45 196 0 196 0 44 -45z m86 -129
               c14 -55 6 -61 -89 -64 -66 -2 -93 1 -109 13 -31 21 -225 22 -254 0 -28 -21
               -190 -21 -198 1 -10 26 -7 62 7 67 6 3 153 6 324 6 l313 1 6 -24z m-236 -231
               l0 -135 -90 0 -90 0 0 135 0 135 90 0 90 0 0 -135z m-240 60 l0 -45 -84 0
               c-89 0 -96 4 -96 55 0 30 9 33 103 34 l77 1 0 -45z m476 21 c14 -55 6 -61 -89
               -64 l-87 -3 0 46 0 45 85 0 c81 0 85 -1 91 -24z m-476 -171 l0 -45 -84 0 c-89
               0 -96 4 -96 55 0 30 9 33 103 34 l77 1 0 -45z m476 21 c14 -55 6 -61 -89 -64
               l-87 -3 0 46 0 45 85 0 c81 0 85 -1 91 -24z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M180 874 c0 -35 -59 -94 -94 -94 -22 0 -26 -4 -26 -30 0 -26 4 -30
               28 -30 15 0 40 7 56 15 34 18 42 14 27 -13 -16 -31 -61 -62 -87 -62 -20 0 -24
               -5 -24 -30 0 -26 4 -30 28 -30 15 0 40 7 56 15 15 8 30 15 32 15 2 0 4 -20 4
               -44 l0 -44 -46 -7 c-67 -10 -74 -14 -74 -46 0 -27 2 -28 33 -21 70 16 219 7
               290 -17 37 -12 67 -26 67 -29 0 -4 -19 -18 -42 -31 -22 -13 -60 -41 -83 -62
               l-43 -39 -111 6 -111 7 0 -31 c0 -32 0 -32 53 -32 146 0 282 -36 509 -133 111
               -48 207 -77 252 -77 22 0 26 5 26 28 0 26 -3 28 -67 40 -38 7 -135 42 -218 77
               -82 34 -176 71 -208 81 l-58 18 23 19 c90 72 198 115 307 124 69 5 159 -5 204
               -22 14 -6 17 -2 17 24 0 19 -6 34 -15 37 -10 4 -15 21 -15 55 0 36 3 47 13 43
               7 -2 22 5 32 16 22 24 31 14 -112 128 -56 45 -106 82 -111 82 -6 0 -33 -18
               -61 -40 -28 -22 -53 -40 -56 -40 -3 0 -5 11 -5 25 0 21 -5 25 -30 25 -30 0
               -30 -1 -30 -52 0 -48 -3 -56 -32 -80 -32 -26 -32 -27 -14 -46 10 -12 24 -18
               32 -15 11 4 14 -6 14 -46 l0 -51 -37 18 c-51 26 -128 50 -185 58 l-48 6 0 44
               c0 48 3 50 40 29 14 -8 37 -14 53 -15 23 0 27 4 27 30 0 25 -4 30 -24 30 -26
               0 -71 31 -87 62 -15 28 -6 32 30 14 16 -9 41 -16 56 -16 21 0 25 5 25 30 0 26
               -4 30 -26 30 -35 0 -94 59 -94 94 0 22 -4 26 -30 26 -26 0 -30 -4 -30 -26z
               m570 -211 l60 -48 0 -70 0 -70 -45 3 -45 4 0 44 c0 42 -1 44 -30 44 -29 0 -30
               -2 -30 -44 0 -47 1 -46 -62 -60 l-28 -6 0 78 0 79 58 46 c31 25 58 46 60 47 1
               0 30 -21 62 -47z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M265 915 c-53 -27 -60 -47 -60 -185 0 -125 0 -125 -40 -210 -36 -76
               -40 -93 -39 -160 0 -60 7 -91 32 -155 18 -44 41 -95 52 -113 l20 -32 85 0 c82
               0 85 1 106 30 22 29 22 29 48 11 93 -67 234 -45 314 50 112 130 40 342 -130
               380 -52 12 -79 9 -160 -16 -18 -6 -25 0 -45 37 -21 38 -23 57 -23 173 -1 72
               -4 138 -9 147 -11 24 -68 58 -97 58 -13 0 -38 -7 -54 -15z m87 -62 c18 -16 24
               -66 12 -110 -5 -19 -13 -23 -49 -23 -47 0 -55 11 -55 79 0 61 51 91 92 54z m8
               -207 c0 -8 3 -21 6 -30 5 -13 -3 -16 -51 -16 -48 0 -56 3 -51 16 3 9 6 22 6
               30 0 10 13 14 45 14 32 0 45 -4 45 -14z m58 -163 c40 -86 38 -172 -8 -278
               l-35 -80 -57 -3 -57 -3 -25 48 c-62 124 -69 216 -23 316 l26 57 76 0 76 0 27
               -57z m255 -19 c68 -34 107 -95 107 -164 0 -135 -149 -223 -265 -157 -46 26
               -47 36 -20 137 12 44 15 81 11 117 -6 50 -5 53 21 67 37 20 106 20 146 0z" />
                            <path d="M580 404 c-11 -12 -10 -18 3 -32 16 -15 18 -15 34 0 13 14 14 20 3
               32 -7 9 -16 16 -20 16 -4 0 -13 -7 -20 -16z" />
                            <path d="M670 374 c-11 -12 -10 -18 3 -32 16 -15 18 -15 34 0 13 14 14 20 3
               32 -7 9 -16 16 -20 16 -4 0 -13 -7 -20 -16z" />
                            <path d="M580 314 c-11 -12 -10 -18 3 -32 16 -15 18 -15 34 0 13 14 14 20 3
               32 -7 9 -16 16 -20 16 -4 0 -13 -7 -20 -16z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M375 861 c-30 -13 -63 -52 -70 -83 -7 -26 -5 -28 24 -28 17 0 31 5
               31 10 0 17 39 50 60 50 33 0 60 -35 60 -80 l0 -40 -180 0 -180 0 0 -30 0 -30
               180 0 180 0 0 -75 c0 -54 -4 -75 -13 -75 -7 0 -29 -9 -50 -20 -47 -25 -74 -25
               -112 0 -39 26 -74 25 -135 -2 -44 -21 -50 -26 -50 -55 0 -30 2 -31 28 -24 15
               5 42 17 60 27 32 19 32 19 74 -5 53 -30 103 -30 156 0 l42 24 42 -24 c53 -30
               103 -30 156 0 42 24 42 24 74 5 18 -10 45 -22 61 -27 25 -7 27 -6 27 24 -1 28
               -7 35 -48 55 -26 12 -53 22 -59 22 -9 0 -13 22 -13 75 l0 75 60 0 60 0 0 30 0
               30 -60 0 -60 0 0 50 c0 43 -5 56 -34 88 -31 33 -40 37 -84 37 -35 0 -56 -6
               -71 -19 -20 -18 -22 -18 -40 -2 -23 20 -87 30 -116 17z m265 -71 c13 -13 20
               -33 20 -60 l0 -40 -60 0 -60 0 0 40 c0 45 27 80 60 80 11 0 29 -9 40 -20z m18
               -247 c-3 -85 -4 -88 -30 -97 -18 -6 -38 -6 -55 0 -27 9 -28 12 -31 97 l-3 87
               61 0 61 0 -3 -87z" />
                            <path d="M168 307 c-42 -19 -48 -26 -48 -54 0 -30 2 -31 28 -24 15 5 42 17 60
               27 32 19 32 19 74 -5 23 -13 58 -24 78 -24 20 0 55 11 78 24 l42 24 42 -24
               c53 -30 103 -30 156 0 42 24 42 24 74 5 18 -10 45 -22 61 -27 25 -7 27 -6 27
               24 0 29 -6 34 -50 55 -61 27 -85 28 -133 2 -46 -25 -68 -25 -114 0 -21 11 -49
               20 -63 20 -14 0 -42 -9 -63 -20 -47 -25 -74 -25 -112 0 -39 26 -78 25 -137 -3z" />
                            <path d="M168 157 c-42 -19 -48 -26 -48 -54 0 -30 2 -31 28 -24 15 5 42 17 60
               27 32 19 32 19 74 -5 23 -13 58 -24 78 -24 20 0 55 11 78 24 l42 24 42 -24
               c53 -30 103 -30 156 0 42 24 42 24 74 5 18 -10 45 -22 61 -27 25 -7 27 -6 27
               24 0 29 -6 34 -50 55 -61 27 -85 28 -133 2 -46 -25 -68 -25 -114 0 -21 11 -49
               20 -63 20 -14 0 -42 -9 -63 -20 -47 -25 -74 -25 -112 0 -39 26 -78 25 -137 -3z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M281 696 c-194 -194 -195 -195 -176 -216 l19 -20 33 32 33 32 0 -127
               0 -127 -46 0 -45 0 7 -47 c5 -40 20 -83 42 -125 2 -5 -8 -12 -23 -18 -21 -8
               -26 -16 -23 -38 2 -22 7 -26 28 -24 14 2 39 12 56 23 40 24 59 24 102 -3 45
               -27 110 -27 156 1 42 26 60 26 104 -1 45 -27 110 -27 156 1 41 26 60 26 100 2
               17 -11 42 -21 56 -23 21 -2 26 2 28 24 3 22 -2 30 -23 38 -15 6 -25 13 -23 18
               23 44 37 85 43 125 l7 47 -46 0 -46 0 0 127 0 127 33 -32 33 -32 19 20 c18 20
               18 21 -33 73 l-52 53 0 87 0 87 -35 0 -35 0 0 -52 0 -52 -109 107 c-59 59
               -116 107 -126 107 -11 0 -102 -82 -214 -194z m449 -263 l0 -163 -55 0 -55 0 0
               64 c0 49 -5 69 -21 90 -19 24 -26 26 -104 26 -78 0 -85 -2 -104 -26 -16 -21
               -21 -41 -21 -90 l0 -64 -55 0 -55 0 0 162 0 163 117 117 118 118 117 -117 118
               -118 0 -162z m-180 -103 l0 -60 -55 0 -55 0 0 60 0 60 55 0 55 0 0 -60z m270
               -132 c0 -7 -9 -28 -20 -45 -15 -25 -27 -33 -48 -33 -15 0 -44 -9 -65 -20 -47
               -25 -77 -25 -124 0 -48 25 -88 25 -136 0 -47 -25 -77 -25 -124 0 -21 11 -50
               20 -65 20 -21 0 -33 8 -48 33 -11 17 -20 38 -20 45 0 9 72 12 325 12 253 0
               325 -3 325 -12z" />
                            <path d="M449 675 c-67 -36 -51 -141 23 -159 100 -25 158 112 67 159 -35 18
               -56 18 -90 0z m66 -75 c0 -29 -32 -41 -41 -16 -9 24 4 48 23 44 12 -2 18 -12
               18 -28z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M408 821 l-61 -130 -40 21 -41 20 -23 -28 c-67 -84 -123 -235 -123
               -335 0 -98 57 -221 129 -278 82 -64 117 -76 231 -76 96 0 110 2 158 28 72 38
               138 106 170 175 23 50 27 69 26 152 0 106 -23 183 -85 286 -39 64 -141 178
               -223 248 l-56 48 -62 -131z m179 -55 c158 -170 221 -336 182 -481 -14 -51 -63
               -129 -95 -150 -24 -16 -25 -16 -17 12 25 88 -14 189 -111 289 l-66 69 -66 -69
               c-97 -101 -135 -199 -111 -291 7 -28 4 -27 -43 23 -101 107 -107 256 -18 425
               17 31 35 57 40 57 5 0 27 -9 49 -21 23 -11 42 -19 44 -17 2 2 28 56 58 121 31
               64 60 117 65 117 6 0 45 -38 89 -84z m-62 -388 c46 -54 73 -105 81 -155 8 -54
               -23 -114 -70 -137 -44 -21 -68 -20 -115 4 -72 36 -88 118 -42 208 22 42 88
               122 101 122 5 0 25 -19 45 -42z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M192 918 c-9 -9 -12 -109 -12 -390 l0 -378 -60 0 -60 0 0 -30 0 -30
               60 0 60 0 0 -30 c0 -27 3 -30 30 -30 27 0 30 3 30 30 l0 30 240 0 240 0 0 -30
               c0 -27 3 -30 30 -30 27 0 30 3 30 30 l0 30 60 0 60 0 0 30 0 30 -60 0 -60 0 0
               375 0 375 -30 0 -30 0 0 -95 c0 -52 -2 -95 -5 -95 -3 0 -116 50 -252 110 -136
               61 -250 110 -253 110 -3 0 -11 -5 -18 -12z m293 -172 l230 -103 3 -246 2 -247
               -45 0 -45 0 0 175 c0 223 6 215 -150 215 -156 0 -150 8 -150 -215 l0 -175 -45
               0 -45 0 0 350 c0 193 3 350 8 349 4 0 111 -46 237 -103z m85 -371 l0 -105 -90
               0 -90 0 0 105 0 105 90 0 90 0 0 -105z m0 -195 l0 -30 -90 0 -90 0 0 30 0 30
               90 0 90 0 0 -30z" />
                            <path d="M310 704 c-11 -12 -10 -18 3 -32 16 -15 18 -15 34 0 13 14 14 20 3
               32 -7 9 -16 16 -20 16 -4 0 -13 -7 -20 -16z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M462 918 c-8 -8 -12 -65 -12 -192 l0 -179 -190 -254 c-104 -139 -190
               -255 -190 -258 0 -3 15 -5 33 -5 29 1 39 10 106 102 l75 101 24 -29 c57 -68
               73 -84 82 -84 5 0 37 34 71 75 l62 75 62 0 63 0 88 -120 c82 -109 92 -119 122
               -120 17 0 32 2 32 5 0 3 -86 119 -190 258 l-190 254 0 71 0 72 44 0 c26 0 48
               -6 56 -15 16 -19 140 -21 158 -3 16 16 16 200 0 216 -7 7 -33 12 -59 12 -29 0
               -51 6 -59 15 -16 19 -170 21 -188 3z m138 -108 l0 -60 -45 0 -45 0 0 60 0 60
               45 0 45 0 0 -60z m120 -30 l0 -60 -30 0 -30 0 0 60 0 60 30 0 30 0 0 -60z
               m-178 -368 l57 -77 -49 -3 c-52 -3 -45 3 -151 -126 -8 -10 -55 39 -65 67 -4
               12 17 49 68 117 40 55 75 99 78 99 3 0 31 -34 62 -77z" />
                        </g>
                    </svg></a>
                <a href=""><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt"
                        height="50.000000pt" viewBox="0 0 96.000000 96.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="#9D9D9D"
                            stroke="none">
                            <path d="M397 826 c-88 -32 -157 -106 -179 -194 -9 -38 -22 -53 -94 -110 -46
               -36 -84 -69 -84 -73 0 -4 34 -36 75 -70 41 -34 75 -68 75 -75 0 -8 -7 -32 -16
               -54 -14 -36 -20 -40 -50 -40 -31 0 -34 -2 -34 -30 l0 -31 56 3 57 3 26 70 27
               70 97 3 97 3 0 -76 0 -75 30 0 30 0 0 75 0 75 109 0 108 0 28 -75 27 -75 59 0
               c59 0 59 0 59 30 0 28 -3 30 -37 30 -37 0 -38 1 -60 60 l-22 60 70 56 c38 31
               69 60 69 64 0 4 -38 36 -84 72 -75 59 -84 71 -95 114 -37 147 -204 239 -344
               190z m146 -57 c50 -14 106 -64 130 -117 10 -24 17 -46 14 -48 -2 -2 -97 -3
               -210 -2 l-205 3 13 39 c35 102 147 156 258 125z m231 -275 c32 -25 54 -49 50
               -53 -5 -4 -30 -24 -55 -44 l-46 -37 -243 0 -243 0 -54 41 c-29 23 -53 44 -53
               48 1 3 26 25 57 49 l57 42 235 0 236 0 59 -46z" />
                            <path d="M282 471 c-23 -14 -10 -46 18 -46 20 0 25 5 25 25 0 26 -20 36 -43
               21z" />
                            <path d="M462 471 c-23 -14 -10 -46 18 -46 20 0 25 5 25 25 0 26 -20 36 -43
               21z" />
                            <path d="M642 471 c-23 -14 -10 -46 18 -46 20 0 25 5 25 25 0 26 -20 36 -43
               21z" />
                        </g>
                    </svg></a>
            </div>
        </div>
    </div>
</header>

{% endblock %}