{% extends "base.html.twig" %}

{% block header %}

<header>
    <div class="header-line1">
        <a href="">En savoir plus sur les Coups de coeur voyageurs</a>
    </div>
    <div class="header-line2">
        <img class="logo" src="images/airbnb.png" alt="logo airbnb">
        <ul class="headerbar">
            <li><a href="">Logements</a></li>
            <li><a href="">Expériences</a></li>
            <li><a href="">Expériences en lignes</a></li>
        </ul>
    </div>
</header>

{% endblock %}