{% extends 'base.html.twig' %}

{% block title %}Edit Ads{% endblock %}

{% block body %}

    <h1 class="container">Edit Ads</h1>

    {{ include('ads/_form.html.twig', {'button_label': '✓ Mettre à jour'}) }}


{% endblock %}
