{# {% extends 'base.html.twig' %}

{% block title %}New Ads{% endblock %}

{% block body %}
    <h1>Create new Ads</h1>

    {{ include('ads/_form.html.twig') }}

    <a href="{{ path('app_ads_index') }}">back to list</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Créer une nouvelle annonce</h1>

        <div class="row">
            <div class="col-md-6">
                {{ include('ads/_form.html.twig') }}
            </div>
        </div>

        <div class="mt-3">
            <a href="{{ path('accueil') }}" class="btn btn-secondary">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
